*{
    margin: 0; padding: 0;
    font-family: Figtree-Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 60px;
    box-shadow: 0px 0px 4px 0px silver;
    width: 100%;
}
.Myntra_home{
    display: inline-block;
    height: 36px;
    width: 53px;

}
.Myntra_home img {
    width: 100%;          /* Forces the image to fit the 53px width */
    height: 100%;         /* Forces the image to fit the 36px height */
    object-fit: contain;  /* Prevents the logo from stretching or distorting */
}
.logo{
    margin-left: 4%;
}
.actionbar{
    margin-right: 4%;
}
.navbar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.navbar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px 0;
    border-bottom: 5px solid #fff ;

}
.navbar a:hover{
    border-bottom: 5px solid #f54e77 ;
}
.navbar a sup{
    color: #ff3f6c;
    font-size: 10px;
}
.searchbar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.searchinput{
    font-size: 14px;
    height: 40px;
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    border: 0;
    border-radius: 0px 4px 4px 0px;
}
.searchicon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0px 0px 4px;
}
.actionbar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.actioncontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Section */
.banner_container{
    margin: 30px 0;
}
.bannerimage{
    width: 100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.categoryimages{
    width: 220px;
}

/* Footer */
.footercontainer{
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footercolumn h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.footercolumn{
    display: flex;
    flex-direction: column;
}
.footercolumn a{
    text-decoration: none;
    font-size: 15px;
    color: #696b79;
    padding-bottom: 5px;
}
.copyright{
    text-align: end;
    color: #94969f;
    padding: 15px;
}